
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;600;700;800;900&display=swap');

body{
    display: center;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

section {
    height: 90vh;
    width: 80vw;
    background-color:hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}
section > div {
    height: 70%;
    width: 25%;
    justify-content:center ;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
}
.image-box {
    height:60% ;
    position: relative;
}
.content-box {
    height: 40%;
    position: relative;
}

.image-box > img {
    width: 100%;
    height: 90%;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}
.content-box, h1 {
    font-size: 17px;
    font-weight: 900;
    padding: 15px;
}
.content-box, p {
    font-size: 15px;
    font-weight: 400;
    padding: 5px;
    
}